@using DataSource.Models;
@{
    Layout = "~/Views/Shared/Org_Layout.cshtml";
    ViewBag.Title = "社团/组织后台管理 柴火 | 西南财经大学学生活动发布平台";
    ViewBag.Css = new string[]{
        SiteConfig.SiteUrl+"/bundles/org_styles"
    };
}
<div class="col-md-7">
    <div class="col-sm-12 org-btn">
        <a class="btn btn-warning" href="~/Org/Index" role="button">我的社团/组织</a>
    </div>
    @foreach (var item in ViewData["OrgList"] as List<Org>)
    {
        <a href="@SiteConfig.SiteUrl/Org/ShowAct/ID/@item.OrgID/Page/1" title="">
            <div class="col-sm-12 org-li">
                <h4>@item.OrgName</h4>
                <p class="text-overflow">@item.OrgIntroduction</p>
            </div>
        </a>
    }
</div>